@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Train+One&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kumar+One&family=Train+One&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kumar+One&family=Monomaniac+One&family=Train+One&family=Ultra&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS to your stylesheets */
.expanded {
  transform: translateY(-50px) scale(1);
}

.grid-container {
    position: relative;
    width: 1000px;
    /* Set the width of the grid container */
    height: 1000px;
    /* Set the height of the grid container */
}

.grid-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Make the image cover the entire grid container */
    height: 100%;
    /* Make the image cover the entire grid container */
}

.grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    /* Set display to grid */
    grid-template-columns: repeat(100, 1fr);
    /* Define 100 columns */
    grid-template-rows: repeat(100, 1fr);
    /* Define 100 rows */
}
.circle {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    /* Circular shape */
    position: fixed;
    pointer-events: none;
    /* Prevent mouse events on circles */
    z-index: 99999999;
    /* Stay on top of all elements */
}